<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ckunion.modules.base.typicalProc.mapper.BasTypicalProcessCheckMapper">

	<delete id="deleteByMainId" parameterType="java.lang.String">
		DELETE 
		FROM  bas_typical_process_check 
		WHERE
			 masteroid = #{mainId} 	</delete>
	
	<select id="selectByMainId" parameterType="java.lang.String" resultType="com.ckunion.modules.base.typicalProc.entity.BasTypicalProcessCheck">
		SELECT * 
		FROM  bas_typical_process_check
		WHERE
			 masteroid = #{mainId} 	</select>

	<select id="selectByProcessId" parameterType="java.lang.String" resultType="com.ckunion.modules.base.typicalProc.entity.BasTypicalProcessCheck">
		SELECT *
		FROM  bas_typical_process_check
		WHERE
			 process_id = #{processId} 	</select>

</mapper>
