<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ckunion.activiti.mapper.CkuActivitiListMapper">
	<select id="getByActCode" parameterType="java.lang.String" resultType="com.ckunion.activiti.entity.CkuActivitiList">
		select * from cku_activiti_list where act_code=#{actCode}
	</select>
</mapper>