<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ckunion.applyno.mapper.ProApplyMapnoDtMapper">

	<delete id="deleteByMainId" parameterType="java.lang.String">
		DELETE 
		FROM  pro_apply_mapno_dt 
		WHERE
			 masteroid = #{mainId} 	</delete>
	
	<select id="selectByMainId" parameterType="java.lang.String" resultType="com.ckunion.applyno.entity.ProApplyMapnoDt">
		SELECT * 
		FROM  pro_apply_mapno_dt
		WHERE
			 masteroid = #{mainId} 	</select>

	<select id="getApplyMapnoDtByParentoid" parameterType="java.lang.String" resultType="com.ckunion.applyno.entity.ProApplyMapnoDt">
		SELECT *
		FROM  pro_apply_mapno_dt
		WHERE
			masteroid = #{mainId}
		and parentoid = #{parentoid}
	</select>
</mapper>
