<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ckunion.group.mapper.ProGroupUserMapper">

	<delete id="deleteByMainId" parameterType="java.lang.String">
		DELETE 
		FROM  pro_group_user 
		WHERE
			 masteroid = #{mainId} 	</delete>
	
	<select id="selectByMainId" parameterType="java.lang.String" resultType="com.ckunion.group.entity.ProGroupUser">
		SELECT * 
		FROM  pro_group_user
		WHERE
			 masteroid = #{mainId} 	</select>
</mapper>
